/**/.vscode
/**/.idea
/**/__pycache__
/**/.pytest_cache
/**/*.pyc
/**/dist
/**/build
/**/*.egg-info
/**/cmake-build-debug
/**/cmake-build-release
/**/CMakeLists.txt

# py code style
/**/.ruff_cache

# tmp files
/**/*.pt
/**/*.pt.*
/**/*.npy
/**/*.npy.*
/**/*.tar.gz
/**/*.json.gz
/**/*.log
*.json

# temp ckpt dir
tmp_checkpoint_dir
*_checkpoint_dir*
*.distcp
.metadata
*.safetensors
*.yaml

*.coverage.*